.App {
  display: flex;
}

.App-content {
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* padding: 0 2rem; */
  padding-top: 6rem;
}

@media screen and (max-width: 890px) {
  .App {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .App-content {
    padding-top: 4rem;
  }
}
