/* Variables */
:root {
  --violet: #7c5dfa;
  --violet-light: #9277ff;
  --red: #ec5757;
  --red-light: rgb(255, 151, 151);
  --gray: #888eb0;
  --gray-dark: #1e2139;
  --gray-blue: #7e88c3;
  --gray-blue-light: #dfe3fa;
  --gray-blue-verylight: #f9fafe;
  --denim: #252945;
  --black-900: #0c0e18;
  --black-800: #141625;
  --cloudy-white: #f8f8fb;
  --green: #33d69f;
  --orange: #ff8f00;
}

/* Global Styles */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5rem;
  background-color: var(--cloudy-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Colors Classes */
.color-gray-blue {
  color: var(--gray-blue);
}

.color-black-900 {
  color: var(--black-900);
}

.color-white {
  color: #fff;
}

.color-violet {
  color: var(--violet);
}

.color-red {
  color: var(--red);
}

/* Typography */
.bold {
  font-weight: 700;
}

.font-size-xlarge {
  font-size: 2.4rem;
}

.font-size-large {
  font-size: 2rem;
}

.font-size-medium {
  font-size: 1.5rem;
}

/* Position */
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Payment Status */
.status {
  width: 10.4rem;
  max-width: 10.4rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.color-pending {
  color: var(--orange);
}

.bg-pending {
  background-color: rgb(255, 143, 0, 0.06);
}

.color-paid {
  color: var(--green);
}

.bg-paid {
  background-color: rgb(51, 214, 159, 0.06);
}

.color-draft {
  color: #373b53;
}

.bg-draft {
  background-color: rgba(55, 59, 83, 0.06);
}

.theme-dark .bg-draft {
  background-color: rgb(223, 227, 250, 0.06);
  color: #fff;
}

/* Button */
.btn {
  border: none;
  border-radius: 2.4rem;
  padding: 1.6rem 2rem;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  transition: all 0.3s;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-violet {
  background-color: var(--violet);
}

.btn-violet:hover {
  background-color: var(--violet-light);
}

.btn-edit,
.btn-cancel,
.btn-add-item {
  background-color: var(--gray-blue-verylight);
  color: var(--gray);
}

.btn-edit:hover,
.btn-cancel:hover,
.btn-add-item:hover {
  background-color: var(--gray-blue-light);
}

.btn-delete {
  background-color: var(--red);
}

.btn-delete:hover {
  background-color: var(--red-light);
}

.btn-draft {
  background-color: var(--denim);
  color: var(--gray-blue);
}

.btn-draft:hover {
  background-color: var(--black-900);
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-btn svg {
  fill: #888eb0;
  transition: fill 0.3s;
}
.icon-btn:hover svg {
  fill: var(--red);
}

/* Spacing */
.mt-xlarge {
  margin-top: 3.5rem;
}

.mt-large {
  margin-top: 2.7rem;
}

.mt-medium {
  margin-top: 1.6rem;
}

.mt-small {
  margin-top: 1rem;
}

.mb-large {
  margin-bottom: 2.7rem;
}

.mb-xxlarge {
  margin-bottom: 5rem;
}

.mb-xlarge {
  margin-bottom: 3.5rem;
}

.mb-medium {
  margin-bottom: 1.6rem;
}

.mb-small {
  margin-bottom: 1rem;
}

.mb-xsmall {
  margin-bottom: 0.5rem;
}

.mr-medium {
  margin-right: 1.6rem;
}

.mr-small {
  margin-right: 1rem;
}

/* Go Back */
.go-back {
  cursor: pointer;
  transition: color 0.3s;
}

.go-back:hover {
  color: var(--gray-blue);
}
/* Imports */
@import "./App.css";
@import "./Nav.css";
@import "./Invoices.css";
@import "./Invoice.css";
@import "./InvoiceDetails.css";
@import "./InvoiceEdit.css";
@import "./InvoiceNew.css";
@import "./InputField.css";
@import "./Form.css";
@import "./ConfirmDeleteModal.css";
