.InputField {
  display: flex;
  flex-direction: column;
  border: none;
}

.InputField-labels {
  display: flex;
  justify-content: space-between;
}

.InputField-input {
  border: 1px solid var(--gray-blue-light);
  border-radius: 0.4rem;
  padding: 1.4rem 1.5rem;
  width: 100%;
  max-width: 100%;
  /* box-shadow: 0 0px 1px 1px rgba(223, 227, 250); */
}

.InputField-input:focus,
.InputField-input:active {
  border: 1px solid var(--violet-light);
  outline: none;
}

.InputField-input[type="date"] {
  cursor: pointer;
}

.InputField-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled {
  opacity: 0.5;
}

.InputField-input:invalid[focused="true"] {
  border-color: var(--red);
}

.invalid {
  border-color: var(--red);
}

.error {
  color: var(--red);
}

/* Dark Theme */
.theme-dark .InputField-input {
  background-color: var(--gray-dark);
  border-color: var(--denim);
  color: #fff;
}

.theme-dark .InputField-input:focus,
.theme-dark .InputField-input:active {
  border: 1px solid var(--violet-light);
  outline: none;
}

.theme-dark .invalid {
  border-color: var(--red);
}
