.Invoice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0 2rem;
  height: 7.2rem;
  margin: 1rem 0 2rem;
  text-decoration: none;
  border: none;
  /* transition: all 0.3s; */
  box-shadow: 0 3px 8px 0px rgba(223, 227, 250);
}

.Invoice:hover {
  /* transform: translateY(-1px); */
  border: 2px solid var(--violet);
}

.Invoice-basic-info {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.Invoice-id-duedate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  width: 60%;
}

.Invoice-id {
  width: 33%;
}

.Invoice-duedate {
  width: 60%;
}

.Invoice-client-name {
  width: 35%;
}

.Invoice-amount-info {
  display: flex;
  flex-direction: row;
  /* justify-content: stretch; */
  align-items: center;
  width: 35%;
}

.Invoice-status {
  width: 10.4rem;
  max-width: 10.4rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  /* margin: 0 2rem; */
  width: 50%;
}

.Invoice-amount {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  padding-right: 3rem;
}

.Invoice-status span {
  padding-right: 1rem; /* the circle style */
}

.Invoice-arrow-left {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}
/* 
@media screen and (max-width: 640px) {
  .Invoice {
    flex-direction: column;
    height: auto;
    padding: 2rem 2rem;
  }

  .Invoice-basic-info {
    width: 100%;
    justify-content: space-between;
  }

  .Invoice-id-duedate {
    flex-direction: column;
  }

  .Invoice-amount-info {
    width: 100%;
    justify-content: space-between;
  }

  .hidden {
    display: none;
  }

  .Invoice-id-duedate {
    align-items: flex-start;
  }

  .Invoice-client-name {
    width: auto;
  }

  .Invoice-duedate {
    margin-top: 2rem;
  }

  .Invoice-amount {
    justify-content: flex-start;
  }
} */

@media screen and (max-width: 600px) {
  .Invoice-basic-info {
    align-items: center;
  }
  .Invoice-id-duedate {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .Invoice-duedate {
    width: 100%;
  }

  .Invoice-client-name {
    width: 60%;
  }
}

@media screen and (max-width: 520px) {
  .Invoice {
    flex-direction: column;
    height: auto;
    padding: 2rem 2rem;
  }

  .Invoice-basic-info {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .Invoice-id-duedate {
    flex-direction: column;
  }

  .Invoice-amount-info {
    width: 100%;
    justify-content: space-between;
  }

  .hidden {
    display: none;
  }

  .Invoice-id-duedate {
    align-items: flex-start;
  }

  .Invoice-client-name {
    width: auto;
  }

  .Invoice-duedate {
    margin-top: 2.5rem;
  }

  .Invoice-amount {
    justify-content: flex-start;
  }
}
