.Nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--denim);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  width: 10.3rem;
  /* padding-bottom: 2rem; */
  position: relative;
  z-index: 30;
}

.Nav-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  max-height: 90%;
  border-bottom: 2px solid var(--gray);
  padding-bottom: 2rem;
}

.Nav-logo-container {
  width: 10.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 3rem 2rem;
  background-color: var(--violet);
}

.Nav-logo {
  width: 4rem;
}

.Nav-theme-selector {
  background: transparent;
  border: none;
}

.Nav-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.Nav-avatar {
  border-radius: 50%;
  width: 4rem;
}

@media screen and (max-width: 890px) {
  .Nav {
    flex-direction: row;
    width: 100%;
    height: 8rem;
    padding-bottom: 0;
    border-radius: 0;
    /* padding-right: 2rem; */
    /* position: absolute;
    top: 0;
    left: 0; */
  }

  .Nav-actions {
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    max-width: 85%;
    height: 100%;
    min-height: 100%;
    border: none;
    padding: 0;
    padding-right: 2rem;
    border-right: 2px solid var(--gray);
  }

  .Nav-logo-container {
    border-radius: 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    /* padding: 2.5rem; */
    height: 8rem;
  }

  .Nav-profile {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .Nav-actions {
    width: 80%;
    max-width: 80%;
  }

  .Nav-profile {
    width: 20%;
  }
}
